.contenedor__padre--grid {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-columns: (2fr)[3];
      grid-template-columns: repeat(3, 2fr);
}

.galeria__container--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 150px;
}

.galeria__item:nth-child(1) {
  -ms-grid-row: span 4;
      grid-row-start: span 4;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.galeria__item:nth-child(2) {
  -ms-grid-row: span 3;
      grid-row-start: span 3;
  -ms-grid-column: span 3;
      grid-column-start: span 3;
}

.galeria__item:nth-child(3) {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
  -ms-grid-column: span 3;
      grid-column-start: span 3;
}

.galeria__item:nth-child(4) {
  -ms-grid-row: span 3;
      grid-row-start: span 3;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.galeria__item:nth-child(5) {
  -ms-grid-row: span 4;
      grid-row-start: span 4;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.galeria__item:nth-child(6) {
  -ms-grid-row: span 4;
      grid-row-start: span 4;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
}

.galeria__item:nth-child(7) {
  -ms-grid-row: span 3;
      grid-row-start: span 3;
}

.galeria__item:nth-child(8) {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
  -ms-grid-column: span 1;
      grid-column-start: span 1;
}

.galeria__item:nth-child(9) {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: span 3;
      grid-row-start: span 3;
}

.galeria__item:nth-child(10) {
  -ms-grid-row: span 3;
      grid-row-start: span 3;
}

.galeria__item:nth-child(11) {
  -ms-grid-row: span 3;
      grid-row-start: span 3;
}

.galeria__item:nth-child(12) {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

@media screen and (max-width: 991px) {
  .hero__header {
    height: 60px;
  }
  .nav__barra {
    height: 60px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav__barra .contenedor__logo {
    width: 100%;
    padding: 0 40px;
  }
  .nav__barra .contenedor__logo .logo {
    font-size: 25px;
    line-height: 60px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero__header {
  position: fixed;
  background-color: #e7e7e7;
  height: 80px;
  width: 100vw;
  z-index: 100;
  border-bottom: 1px solid #2d2c2a;
}

.hero__header .nav__barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.hero__header .nav__barra .contenedor__logo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px;
  line-height: 80px;
}

.hero__header .nav__barra .contenedor__logo .logo {
  color: #2d2c2a;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
}

.hero__header .nav__barra .contenedor__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 30px;
  line-height: 80px;
}

.hero__header .nav__barra .contenedor__nav .nav__item {
  border-radius: 3px;
  margin: 0 5px;
  list-style: none;
}

.hero__header .nav__barra .contenedor__nav .nav__item .nav__enlace {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: #2d2c2a;
  text-transform: uppercase;
}

.hero__header .nav__barra .contenedor__nav .nav__item .nav__enlace:hover,
.hero__header .nav__barra .contenedor__nav .nav__item .nav__enlace--active {
  background-color: #2d2c2a rgba(0, 0, 0, 0.4);
  color: #ED644C;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero__header .nav__barra .boton__menu {
  margin-right: -200px;
  padding: 50px;
  font-size: 25px;
  color: #2d2c2a;
  cursor: pointer;
  visibility: hidden;
}

.hero__header .nav__barra .contenedor__nav--show {
  top: 65px;
}

.hero__header--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img__presentacion img {
  width: 100%;
  height: 830px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor__index {
  height: 45rem;
  width: 100%;
  background: #2D2C2A;
  overflow: hidden;
}

.contenedor--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10%;
}

.contenedor--flex .contenedor__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 95px;
  padding: 20px 0;
}

.contenedor--flex .contenedor__titulo h1 {
  width: 100%;
  max-width: 157px;
  border-bottom: solid 1px #e7e7e7;
  font-size: 30px;
  font-weight: lighter;
  color: #e7e7e7;
}

.contenedor--flex .contenedor__padre--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor--flex .contenedor__padre--flex .contenedor__descripcion {
  width: 30%;
  height: 3rem;
  max-height: 1.5rem;
  padding: 0 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 15px;
  margin: 0 10px;
  text-decoration: none;
  color: #e7e7e7;
  font-size: 20px;
}

.contenedor--flex .contenedor__padre--flex .contenedor__desccripcion {
  width: 50%;
  height: 5rem;
  max-height: 3rem;
  padding: 0 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 15px;
  margin: 0 10px;
  text-decoration: none;
  color: #e7e7e7;
  font-size: 20px;
}

.contenedor--flex .carousel__contenedor {
  padding: 180px 40px 0 40px;
  margin: 0 30px;
  position: relative;
}

.contenedor--flex .carousel__contenedor .carousel__lista {
  overflow: hidden;
}

.contenedor--flex .carousel__contenedor .carousel__elemento {
  padding: 0 10px;
}

.contenedor--flex .carousel__contenedor .carousel__elemento img {
  width: 100%;
  height: 15rem;
}

.contenedor--flex .carousel__contenedor .carousel__elemento h5 {
  padding: 10px 0;
  color: #e7e7e7;
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
}

.contenedor--flex .carousel__contenedor .carousel__elemento p {
  padding: 10px 0;
  color: #e7e7e7;
  font-size: 16px;
}

.contenedor--flex .carousel__indicadores .glider-dot {
  display: block;
  width: 12px;
  height: 12px;
  opacity: .2;
  background-color: #fff;
}

.contenedor--flex .carousel__indicadores .glider-dot:hover {
  opacity: .5;
}

.contenedor--flex .carousel__indicadores .glider-dot.active {
  opacity: 1;
}

.contenedor__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  width: 100%;
  height: 8vh;
}

.contenedor__footer .copy__footer {
  color: #e7e7e7;
  font-size: 15px;
  line-height: 8vh;
  margin: 0 15px;
  padding-left: 50px;
}

.contenedor__footer .contenedor__redes {
  line-height: 8vh;
  margin: 0 15px;
  padding-right: 50px;
}

.contenedor__footer .contenedor__redes .redes__enlaces {
  color: #e7e7e7;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 85px;
  width: 90%;
  height: 40rem;
}

.carousel .img__carrusel {
  width: 50rem;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  color: #e7e7e7;
}

.carousel .carrusel__control i {
  font-size: 50px;
  color: #e7e7e7;
  background-color: #2d2c2a;
  padding: 0 15px;
  opacity: .8;
}

.contenedor__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding: 15px 0;
  margin-top: 40px;
  width: 100%;
}

.contenedor__padre {
  padding: 0 10%;
}

.contenedor__padre .bloque__servicio {
  width: 100%;
  max-width: 18rem;
  height: 100%;
  max-height: 12rem;
  padding: 50px 20px;
  margin: 20px 20px;
  cursor: pointer;
}

.contenedor__padre .bloque__servicio h3 {
  text-transform: uppercase;
  font-weight: unset;
}

.contenedor__padre .bloque__servicio p {
  margin: 25px 0;
}

.contenedor__padre .bloque__servicio--morado {
  background-color: #924684;
}

.contenedor__padre .bloque__servicio--naranja {
  background-color: #be5b3e;
}

.contenedor__padre .bloque__servicio--rosa {
  background-color: #d35c78;
}

.contenedor__padre .bloque__servicio--azul {
  background-color: #02569c;
}

.contenedor__padre .bloque__servicio--verde {
  background-color: #019eb1;
}

.contenedor__padre .bloque__servicio--gris {
  background-color: #949398;
}

.galeria__container {
  padding: 20px;
  background-color: #6c757d;
  height: 94rem;
}

.galeria__container .galeria__item {
  padding: 20px;
}

.galeria__container .galeria__item h2 {
  display: none;
}

.galeria__container .galeria__item .img__galeria {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 5px;
  -webkit-box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.4);
  margin-top: 65px;
}

.galeria__container .galeria__item .img__galeria:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.fondo--img {
  min-height: 100vh;
  width: 100%;
  background-image: url(../img-fondo/fondo-contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__contanto {
  width: 100%;
  max-width: 400px;
  margin: 0 50px;
  padding-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .9;
}

.container__contanto .info__contacto {
  color: #2d2c2a;
  max-width: 300px;
  line-height: 65px;
  font-size: 18px;
}

.container__contanto .info__contacto i {
  margin-right: 25px;
  font-size: 25px;
  color: #2d2c2a;
}

.form__contacto {
  max-width: 400px;
  margin-right: 150px;
}

.form__contacto h2 {
  color: #e7e7e7;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.form__contacto .text-box {
  background: #000;
  color: #e7e7e7;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.form__contacto .text-box:first-child {
  margin-right: 15px;
}

.form__contacto textarea {
  background: #000;
  color: #e7e7e7;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
}

.form__contacto .send-btn {
  float: right;
  background: #212529;
  color: #e7e7e7;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
}

.form__contacto .send-btn:hover {
  background: #f8f9fa;
  color: #2d2c2a;
  border: 1px solid #2d2c2a;
}
