@media screen and (max-width: 768px) {
    .nav__barra{
        height: 60px;

    }
    .nav__barra--flex{
        justify-content: center;
    }
    .contenedor__logo{
        justify-content: center;
        width: 100%;
        line-height: 60px;
        padding: 0 40px;
        .logo{
            font-size: 20px;
            font-weight: lighter;
        }
    }
    .contenedor__nav{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        line-height: 60px;
        background-color: #9e9d9d;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
    }
    .navToggle{
        display: block;
        visibility: visible;
    }
}