@media screen and (max-width: 991px) {
    .hero__header{
        height: 60px;
    }
    .container-fluid{
        padding: 0;
    }
    .nav__barra{
        height: 60px;
        box-shadow: none;

        .contenedor__nav{
            position: absolute;
            display: block;
            width: 100vw;
            height: 100vh;
            text-align: center;
            background-color: #e7e7e7;
            padding-top: 10%;
        }

        .contenedor__logo{
            width: 100%;
            padding: 0 40px;
            .logo{
                font-size: 25px;
                line-height: 60px;
            }
        }
    }
    .img__presentacion{
        img{
            height: 600px;
        }
    }
    .contenedor--flex{
        margin-bottom: 5%;
    }
    .contenedor__titulo{
        margin-left: 3.9rem;
        margin-top: 0;
    }
    .contenedor__descripcion{
        padding: 0 15px;
        font-size: 18px;
        max-height: 2rem;
        font-size: 18px;
        margin: 30px 10px;
    }
    .carousel__contenedor{
        padding: 140px 65px 0 65px;
        margin: 10px 10px;
        width: 100%;
    }
    .carousel__elemento{
        img{
            height: 15rem;
            width: 19rem;
        }
    }
}

